*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:linear-gradient(135deg,#2193b0,#6dd5ed);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.container{

background:white;

padding:30px;

border-radius:15px;

width:800px;

box-shadow:0 5px 20px rgba(0,0,0,.3);

text-align:center;

}

.search-box{

display:flex;

justify-content:center;

margin:20px 0;

gap:10px;

}

input{

width:70%;

padding:12px;

font-size:18px;

border-radius:10px;

border:1px solid gray;

}

button{

padding:12px 25px;

background:#2193b0;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

font-size:17px;

}

button:hover{

background:#0d6efd;

}

.weather-card{

display:none;

margin-top:20px;

}

.weather-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;

margin-top:20px;

}

.card{

background:#f4f4f4;

padding:15px;

border-radius:10px;

}

.loading{

display:none;

font-size:20px;

color:blue;

}

.error{

color:red;

margin-top:10px;

font-weight:bold;

}